*{
    margin: 0;
    padding: 0;
    font-family: 'Oldenburg', cursive;
    box-sizing: border-box;
    
}

#charForm {
    display: none;
}

/*--------------LOGIN PAGE-------------------*/
 
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(50,0,0,0.5),rgba(0,0,50,0.8)), url(./imagenes/fantasy-warrior-epic-battle-uhdpaper.com-4K-4.3103.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.container a {
    text-decoration: none;
}

.container a:visited {
    text-decoration: none;
}

.form-box{
    width: 90%;
    max-width: 400px;
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;

}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p {
    text-align: left;
    font-size: 13px;

}

font p a {
    text-decoration: none;
    color: #3c00a0;
}

.enterBtn {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 25px;
}

.enterBtn button {
    flex-basis: 48%;
    background: #f07c8e;
    height: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    margin: 5px;
}

.enterBtn button a {
    color: black;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group {
    height: 280px;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}

/*---------------CHARACTERS SECTION--------------------*/


.fullBack {
    background-image: linear-gradient(#2f1e70,#2b2121);
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: 'Oldenburg', cursive;
}

/*-----------------------BACKGROUND ANIMATION----------------------*/

.fullBack h1 {
    color: #fff;
    top: 15%;
    left: 50%;
    justify-content: center;
    transform: translate(20%,-10%);
    font-size: 70px;
    z-index: 1;
}

ul li {
    position: absolute;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    list-style: none;

}

.square li {
    top: 50vh;
    left: 45vw;
    animation: square 10s linear infinite;

}

.square li:nth-child(2) {
    top: 80vh;
    left: 10vw;
    animation-delay: 2s;

}
.square li:nth-child(3) {
    top: 80vh;
    left: 85vw;
    animation-delay: 4s;

}
.square li:nth-child(4) {
    top: 10vh;
    left: 70vw;
    animation-delay: 6s;

}
.square li:nth-child(5) {
    top: 10vh;
    left: 10vw;
    animation-delay: 8s;

}

@keyframes square {
    0%{
        transform: scale(0) rotateY(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
    }
}

.circle li {
    bottom: 0;
    left: 15vw;
    animation: circle 10s linear infinite;
}

.circle li:nth-child(2){
    left: 35vw;
    animation-delay: 2s;
}
.circle li:nth-child(3){
    left: 55vw;
    animation-delay: 4s;
}
.circle li:nth-child(4){
    left: 75vw;
    animation-delay: 6s;
}
.circle li:nth-child(5){
    left: 90vw;
    animation-delay: 8s;
}

@keyframes circle {
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 0;

    }
    100%{
        transform: scale(5) rotate(1000deg);
        opacity: 0;
        bottom: 90vh;
        border-radius: 50%;
        
    }
}
/*----------------NEW CHARACTER FORM-------------------*/

.content {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #B70E21;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.charSheet-form {
    background: #222222;
}

.charSheet-form form {
    display: inline-block
}

.charSheet-form form label {
    display: block;
}

.charSheet-form form p {
    margin: 0;
    padding: 1em;
}

.charSheet-form form .block {
    grid-column: 1 / 3;
}

.charSheet-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #4e0795;
}

.charSheet-form form button {
    background: #4e0795;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.charSheet-form form button:hover,
.charSheet-form form button:focus {
    background: #643c8b;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}
/*--------------------CHARACTER SELECTION------------------------*/


/*----------------------BUTTONS------------------------------*/


  /*------------------------------------------------------------*/

.character-small-img img {
    height: 92px;
    margin: 10px;
    cursor: pointer;
    display: block;
    opacity: .6;
}

.character-small-img img:hover {
    opacity: 1;
}

.character-small-img {
    float: left;
}

.characters-preselect-male {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin: 30px;
}

.characters-preselect-female {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin: 30px;
}

.characters-preselect-other {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin: 30px;
}

.img-container img {
    height: 500px;
}

.img-container {
    float: right;
    padding: 10px;
}